// rank up company color
// $primary: #56B2FF;
// $sidebar-color: #323232;
// // rankup gradient
// $primary-dark: #1C64B9;
// $primary-semi:#1C64B9;
// $primary-semi-shadow: #1C64B940;


// sidebar color
$sidebar-color: #323232;

// ibuumerang company color
$primary: #0892d0;
$primary-semi:#ffd200;
$primary-semi-shadow: #0892d040;
$primary-dark: #0878d0;

// color
$white: #ffffff;
$dark: #323232;
$dark-3c3c3c: #3c3c3c;
$dark-464646: #464646;
$dark-484848: #484848;
$dark-434343: #434343;
$dark-666565: #666565;
$white-f4f7f5: #F4F7F5;
$white-f3f3f3: #f3f3f3;
$white-f4f4f4: #F4F4F4;
$grey-727272: #727272;
$grey-919191: #919191;
$grey-949494: #949494;
$grey-9d9d9d: #9d9d9d;
$grey-b9b5b6: #B9B5B6;
$grey-e8e8e8: #e8e8e8;
$grey-f9f9f9: #f9f9f9;
$grey-ababab: #ababab;
$grey-a6a6a6: #a6a6a6;
$grey-afafaf: #afafaf;
$grey-d7d7d7: #d7d7d7;
$grey-b7b7b7: #b7b7b7;
$grey-c0c0c0: #C0C0C0;
$grey-ebebeb: #EBEBEB;
$grey-bebebe: #bebebe;
$grey-666565: #666565;
$grey-666666: #666666;
$black-282828: #282828;
$black-323232: #323232;
$blue-1b365d: #1B365D;
$blue-1c64b9: #1C64B9;
$green-80e053: #80E053;
$green-89ad4a: #89AD4A;
$green-00eac0: #00EAC0;
$red-ed4c5c: #ED4C5C;
$yellow-fdca14: #fdca14;
$yellow-b1913c: #B1913C;
$green-d4d975: #D4D975;


// Font Size
$fs-8: 8px;
$fs-9: 9px;
$fs-10: 10px;
$fs-12: 12px;
$fs-13: 13px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-19: 19px;
$fs-20: 20px;
$fs-22: 22px;
$fs-24: 24px;
$fs-26: 26px;
$fs-28: 28px;
$fs-30: 30px;
$fs-40: 40px;
$fs-44: 44px;
$fs-60: 60px;
// Font Weight
$fw-normal: normal;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
$fw-900: 900;
$fw-bolder: bolder;
// Border Radius
$br-10: 10px;
// Shadow
$shadow-dark: 0px 0px 120px rgba(0, 0, 0, 0.3);
$shadow-light: 0px 0px 90px rgba(0, 0, 0, 0.1);